
ML/Личное/

.obsidian/

DL/

Datasets/

*.mp4

ML/Innopolis/material/1 semester/HDDA/supporting materials/

ML/Innopolis/material/1 semester/Machine Learning/Project/F24.ML.Assignment.One.data.db

ML/.trash/
