[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
numpy = "*"
plotly = "*"
pandas = "*"
pyarrow = "*"
seaborn = "*"
scipy = "*"
scikit-learn = "*"
pydotplus = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.11"
